* {
  padding: 0;
  margin: 10;
  font-size: 1.9rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  background-color: green;
  background-size: cover;
  font-weight: bold;
}

h1 {
  color: goldenrod;
  font-size: 2.8rem;
  padding-bottom: 50px;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  font-weight: 150px;
  background-color: goldenrod;
  border-style: none;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}
