.header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.main {
  max-width: 700px;
  margin: auto;
  padding: 80px 10px;
}
